<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Social Media
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>Instagram</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Twitter</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>WhatsApp</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Telegram</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Line</ion-label>
  </ion-item>
</ion-list>
</ion-content>
